.userNotReady{
	float :left;
	height: 640px;
	width: 320px;
	border: 1px solid red;
	border-radius: 25px;
	background-color: grey;
	display: inline;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 640px;
}

.userNotReady{
	float :left;
	height: 640px;
	width: 320px;
	border: 1px solid black;
	background-color: grey;
	display: inline;
	margin: 10px;
}


