.column1 {
  float: left;
  width: 14vw;
  margin-left:28vw;
  background-color: green;
  height: 37vh;
}
.column2 {
    float: left;
    width: 7%;
    margin-left: 6vw;
}
.column3 {
    float: left;
    width: 14vw;
    background-color: green;
    margin-left: 6vw;

}
.timed{
  margin-left: 1.5vw;
}
.he1{

}
.he2{

}
.col1{
  float: left;
  margin-left: 32vw;

}
.col2{
  float: left;
  margin-left: 27vw;
}
.rowx {

}
/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

.loader {
  margin-left: 65.5vw;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  border-bottom: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
